body {
 	background-image: url(../assets/img/bg.jpg) ; 
	background-repeat:no-repeat;
	font-family: Impact , Charcoal, sans-serif;
   
}

.bold{ font-weight: bold;}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
}
.navbar-static-top {
	height:52px;
  background-color: #2b2b2b;
}
	.navbar-static-top a {
		color: #fff;
	}


	.navbar-static-top .navbar-brand , .navbar-nav>li>a{
		font-size: 2.5em;
	}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus ,
.nav>li>a:hover, .nav>li>a:focus
{
	background-color: #353536;
	border-color: #2b2b2b;
}




.jumbotron {
	padding: 30px; 
	margin-bottom: 0; 
	color: #fff; 
	background-color: transparent; 
	z-index:10001;
	width: 600px;
}

	.jumbotron p {
		font-size: 26px;
		font-weight: 100; 
	}
	.jumbotron p.content {	width: 440px;}



.btn-lg, .btn-group-lg>.btn {
	font-size: 25px;
	line-height: 1.55;
}

.bookcover{ width: 500px; height: 446px; float:left;}
.bookcover img { outline: 0; max-width: 100%; height: auto; }
#cover {display: block;}
#cover-top {display: none;}

#image-container  { position: relative; top: 69px; 
					margin-left: auto;
					margin-right: auto;
					position: relative;
					z-index: 1000;
				    text-align:center;
				}
#image-container  ul li { display:inline-block; margin: 0; }
.images{ position: relative;}
.images img { margin-right: 20px; margin-bottom: 10px;}
/*img.family {float:right; margin-top:-410px;} */

.top-50 	{ margin-top: 50px;}
.container 	{ width: 1140px; }
.emailtop { margin-left: 200px; }
.jumbotron.right{ float:right;}

@media (min-width: 1442px) and (max-width: 1983px){
    #image-container  { position: relative;  top: 158px;; }
    .jumbotron h1, .jumbotron .h1 {
		font-size: 58px;
	}
	.images img { margin-right: 0; width: 93%; height: 93%;}
}

@media (min-width: 1200px) and (max-width: 1441px){
	body { background-image: url(../assets/img/bg_1400.jpg) ; }
	#image-container { top: -26px;}
	#cover {display: none;}
	#cover-top {display: block;}
	.jumbotron h1, .jumbotron .h1 {
		font-size: 58px;
	}
	.images img { margin-right: 0; width: 90%; height: 90%;}
}


@media screen and (min-width: 891px) and (max-width: 1199px){
	body { background-image: url(../assets/img/bg_800.jpg) ; }
	.top-50 	{ margin-top: 30px;}
	.emailtop 	{ margin-left: 30px; }
	.container 	{ width: 900px;	}
	.bookcover{ width: 360px; float:none; position: absolute; left :10px; top: 52px; z-index:1;}
		.bookcover img {z-index:1;}
	.container .jumbotron 			{ padding-right: 0px; padding-top:15px; padding-left: 90px; }
		.jumbotron.right{ float:right;}
		.jumbotron p 	{ font-size: 22px; }
			.jumbotron p.content { width: 325px;}
			.jumbotron h1, .jumbotron .h1 {
				font-size: 50px;
			}
	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 2em; }
	#image-container { top: 15px;}
	.images img { margin-right: 0; width: 85%; height: 85%;}
}

@media (min-width: 621px) and (max-width: 890px){
	body { background-image: url(../assets/img/bg_800.jpg) ; }
	.top-50 	{ margin-top: 20px;}
	.emailtop 	{ margin-left: 30px; }
	.container 	{ width: 741px;	}
    .btn-lg, .btn-group-lg>.btn { font-size: 20px;line-height: 1.55;	}	
	.bookcover{ width: 260px; float:none; position: absolute; left :10px; top: 52px; z-index:1;}
		.bookcover img {z-index:1;}
	.container .jumbotron { padding-right: 0px; padding-top:15px; padding-left: 153px; }
		.jumbotron.right{ float:right;}
		.jumbotron p 	{ font-size: 19px; }
			.jumbotron p.content { width: 315px;}
		.jumbotron h1, .jumbotron .h1 { font-size: 45px;margin-top: 10px;}

	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 1.7em; }	
	#image-container { top: 55px;}
	ul.images { padding: 0;}
	.images img { margin-right: 0; width: 80%; height: 80%;}
}

@media (max-width: 620px){
	body { background-image: url(../assets/img/bg_800.jpg) ; }
	.container { padding-left: 4px; padding-right: 4px; width:auto;}
    .top-50 	{ margin-top: 14px;}
    .btn-lg, .btn-group-lg>.btn { font-size: 18px;line-height: 1.55;	}	
	.bookcover{ width: 200px; float:none; position: relative; margin-left: auto; margin-right: auto; z-index:1;}
		.bookcover img {z-index:1;}
	.jumbotron 			{ padding: 2px; width: 95%;}
		.jumbotron p 	{ font-size: 15px; }
			.jumbotron p.content {	width: 98% ;}
		.jumbotron h1, .jumbotron .h1 { font-size: 25px; font-weight: bold; margin-top: 5px; width:100%; text-align: center;}
	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 1.5em; }
	.navbar-brand { width: 100%; text-align:center;}
	#image-container { top: 78px;}
	ul.images { padding: 0;}
	.images img { margin-right: 0; width: 70%; height: 70%;}
}



