body {
  min-height: 2000px;
 background-image: url(../assets/img/bg.jpg) ; 
 /*  background-image: url(../assets/img/background.jpg) ;
   background-position: center 50px ;*/
	background-repeat:no-repeat;
	font-family: Impact , Charcoal, sans-serif;
   
}

.bold{ font-weight: bold;}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
}
.navbar-static-top {
	height:52px;
  background-color: #2b2b2b;
}
	.navbar-static-top a {
		color: #fff;
	}


	.navbar-static-top .navbar-brand , .navbar-nav>li>a{
		font-size: 2.5em;
	}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus ,
.nav>li>a:hover, .nav>li>a:focus
{
	background-color: #353536;
	border-color: #2b2b2b;
}




.jumbotron {
	padding: 30px; 
	margin-bottom: 0; 
	color: #fff; 
	background-color: transparent; 
	z-index:10001;
	width: 600px;
}

	.jumbotron p {
		font-size: 29px;
		font-weight: 100; 
	}
	.jumbotron p.content {	width: 440px;}



.btn-lg, .btn-group-lg>.btn {
	font-size: 25px;
	line-height: 1.55;
}

.bookcover{ width: 500px; height: 446px; float:left;}
.bookcover img { outline: 0; max-width: 100%; height: auto; }

@media (min-width: 1500px){
    .top-50 	{ margin-top: 50px;}
	.container 	{ width: 1140px; }
	.emailtop { margin-left: 280px; }
	.jumbotron.right{ float:right;}
}


@media (min-width: 1200px) and (max-width: 1499px){
    .top-50 	{ margin-top: 50px;}
	.container 	{ width: 1140px; }
	.emailtop { margin-left: 280px; }
	.jumbotron.right{ float:right;}
}

@media screen and (min-width: 891px) and (max-width: 1199px){
	.top-50 	{ margin-top: 30px;}
	.emailtop 	{ margin-left: 30px; }
	.container 	{ width: 900px;	}
	.bookcover{ width: 360px; float:none; position: absolute; left :10px; top: 52px; z-index:1;}
		.bookcover img {z-index:1;}
	.container .jumbotron 			{ padding-right: 0px; padding-top:15px; padding-left: 90px; }
		.jumbotron.right{ float:right;}
		.jumbotron p 	{ font-size: 22px; }
			.jumbotron p.content { width: 325px;}
	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 2em; }
}

@media (min-width: 621px) and (max-width: 890px){
	.top-50 	{ margin-top: 20px;}
	.emailtop 	{ margin-left: 30px; }
	.container 	{ width: 741px;	}
    .btn-lg, .btn-group-lg>.btn { font-size: 20px;line-height: 1.55;	}	
	.bookcover{ width: 260px; float:none; position: absolute; left :10px; top: 52px; z-index:1;}
		.bookcover img {z-index:1;}
	.container .jumbotron { padding-right: 0px; padding-top:15px; padding-left: 153px; }
		.jumbotron.right{ float:right;}
		.jumbotron p 	{ font-size: 19px; }
			.jumbotron p.content { width: 315px;}
		.jumbotron h1, .jumbotron .h1 { font-size: 45px;}

	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 1.7em; }
	
}


@media (max-width: 620px){
    .top-50 	{ margin-top: 20px;}
    .btn-lg, .btn-group-lg>.btn { font-size: 20px;line-height: 1.55;	}	
	.bookcover{ width: 200px; float:none; position: relative; margin-left: auto; margin-right: auto; z-index:1;}
		.bookcover img {z-index:1;}
	.jumbotron 			{ padding: 7px; width: 95%;}
		.jumbotron p 	{ font-size: 15px; }
			.jumbotron p.content {	width: 98% ;}
		.jumbotron h1, .jumbotron .h1 { font-size: 34px;}
	.navbar-static-top .navbar-brand, .navbar-nav>li>a {font-size: 1.5em; }
	.navbar-brand { width: 100%; text-align:center;}
}



