body {
  min-height: 2000px;
  background-image: url(../assets/img/background.jpg) ;
	background-repeat:no-repeat;
    background-position: center 50px ;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #2b2b2b;
}
	.navbar-static-top a {
		color: #fff;
	}


	.navbar-static-top .navbar-brand , .navbar-nav>li>a{
		font-size: 1.4em;
		font-weight: bold;
	}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus ,
.nav>li>a:hover, .nav>li>a:focus
{
	background-color: #353536;
	border-color: #2b2b2b;
}

.emailtop { margin-left: 280px; }


.jumbotron {
	padding: 30px; 
	margin-bottom: 0; 
	color: #fff; 
	background-color: transparent; 
}

.jumbotron.right{
	float:right;
}

@media (min-width: 768px){
	.emailtop { margin-left: 110px; }
}

@media (min-width: 1200px){}
	.container {
		width: 1690px;
	}
}